.Rproj.user
.Rhistory
.RData
.Ruserdata
spillr_paper.pdf
spillr_paper.log
spillr_paper_cache/
spillr_paper_files/
.DS_Store
comments.md

algorithm.Rmd
algorithm.pdf
header.tex

versions/
OUP_First_SBk_Bot_8401-eps-converted-to.pdf
spillr_supp.pdf
spillr_paper.aux
spillr_paper.synctex.gz
spillr_paper.bbl
spillr_paper.blg
